.app {
  text-align: center;
}

/* ----------------- */

/*    TOP NAVBAR     */

/* ----------------- */

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-headers);
  font-size: 2.5rem;
  padding-left: 1rem;
  cursor: default;
}

.logo span, .logo-icon {
  display: block;
}

.logo-icon {
  margin-left: 0.25rem;
}

.extended-logo {
  transition: var(--transition);
}

.hide-extension {
  display: none;
}

.top-navbar .nav-menu, .social-links {
  display: flex;
  flex-direction: row;
}

.nav-item {
  list-style-type: none;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-item {
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
}

.toggle-menu {
  border: none;
  background-color: inherit;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.mobile-navbar {
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 4.5rem;
  display: none;
}

.mobile-navbar .nav-menu {
  display: flex;
  flex-direction: column;
}

.mobile-navbar .nav-item {
  padding: 0.5rem;
}

/* ----------------- */

/*     HOME PAGE     */

/* ----------------- */

.home {
  padding: 20vh 0;
}

.home h1, .home h3 {
  margin: 0;
}

.home h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.home h3 {
  font-family: var(--font-text);
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--light-blue);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* ----------------- */

/*     ABOUT ME      */

/* ----------------- */

.about-me {
  padding: 5vh 0;
}

.about-me h2 {
  margin-bottom: 0;
  color: var(--dark);
}

.about-me-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 5vh;
}

.about-me-wrapper img {
  width: 50%;
  max-width: 22rem;
}

.about-me-wrapper p {
  text-indent: 3rem;
  max-width: 50rem;
  text-align: justify;
  padding: 0 2rem;
}

/* ----------------- */

/*     PROJECTS      */

/* ----------------- */

.projects {
  padding: 2rem 0;
}

.projects h2 {
  margin-bottom: 0;
}

.projects-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.project {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0 2rem 0;
  transition: var(--transition);
  margin-top: 2rem;
}

.project h3 {
  margin-top: 1rem;
}

.project img {
  width: 75%;
  max-width: 22rem;
  margin: 0 auto;
}

.project p {
  max-width: 50rem;
  padding: 0 2rem;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--light-blue);
  font-weight: bold;
  transition: var(--transition);
}

/* ----------------- */

/*     CONTACT       */

/* ----------------- */

.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.contact h2 {
  margin-bottom: 0;
}

.contact-wrapper {
  max-width: 30rem;
  margin: 2rem auto;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
}

.contact-item p {
  padding: 0 2rem !important;
  margin: 0 auto;
  font-size: 1.5rem;
}

.contact-item:nth-of-type(n+2) {
  margin-top: 0.5rem;
}

.contact-icon {
  border-right: rgba(255, 255, 255, 0.3) 1px solid;
  font-size: 1.5rem;
  padding: 2rem;
}

/* ----------------- */

/*      FOOTER       */

/* ----------------- */

footer {
  padding: 4rem 0;
  color: var(--light-blue);
}

footer .social-links {
  margin: 0 auto;
}

footer .social-links .social-item {
  font-size: 2rem;
  color: var(--col-grey-1);
}

footer h3 {
  margin-top: 0;
}

/* ----------------- */

/*      MOBILE       */

/* ----------------- */

@media screen and (min-width: 1001px) {
  .nav-item:hover {
    color: var(--light-blue);
    cursor: pointer;
  }
  .social-item:hover {
    color: var(--light-blue);
    cursor: pointer;
    animation-name: shake-button;
    animation-duration: 0.5s;
  }
  .project:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .contact-item:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  footer .social-links {
    display: block;
  }
  a:hover {
    color: var(--dark-blue);
  }
}

@media screen and (max-width: 1000px) {
  .top-navbar .social-links {
    display: none;
  }
  .nav-item {
    font-weight: bold;
  }
  .mobile-navbar {
    display: none;
  }
  .header-image {
    display: none;
  }
  .home {
    background-image: url("./images/home-background.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 10vh;
    padding-bottom: 30vh;
  }
  .home .text-container {
    text-align: right;
    padding: 0 2rem;
  }
  .about-me-wrapper {
    flex-direction: column;
  }
  .about-me-wrapper img {
    margin: 0 auto;
  }
  .contact-item p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .top-navbar .nav-menu {
    display: none;
  }
  .toggle-menu {
    display: block;
  }
  .mobile-navbar {
    display: block;
  }
  .projects-wrapper {
    flex-direction: column-reverse;
  }
  .contact-item p {
    font-size: 1rem;
  }
}

@keyframes shake-button {
  0% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}